html
    head
        title MyAPP
    body(class=["MyApp"])   
        h1(id='MyId') Test agora agora 
        p
            h3 sub header
        ul  
            each val in list
                li= val